
img {
    width: 400px;
    /* height: 400px; */
}

[vw] [vw-access-button] .access-button {
    width: 10px;
    height: 60%;
    border-radius: 50%;
}

[vw] img {
    width: 30px;
    height: 50%;
}